[user]
    email = 18319352083@163.com
    name = 18319352083
[sendemail]
    smtpserver = smtp.163.com
    smtpserverport = 465
    smtpuser = 18319352083@163.com
    smtpencryption = ssl
    confirm = auto
